<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" routerLink="/home-component"
        routerLinkActive='active'>{{title}}</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="bg-dark sidebar pt-3" style="width: 180px;">
            <ul class="nav nav-sidebar d-inline">
                <li><a class="navlink" routerLink="/home-component" 
                    routerLinkActive='active'>Home</a></li>
                <li><a class="navlink" routerLink="/article-component" 
                    routerLinkActive='active'>Article</a></li>
            </ul>
        </div>
        <div class="col">
            <div class="mt-3"></div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>