<h2 class="text-center mb-4">Series</h2>

<div class="col text-center">
    <button (click)="createNewSeries()" class="btn btn-dark mb-3">Create new series</button>
</div>

<div class="container" style="max-height: 75vh; overflow-y: scroll;">
    <div *ngFor="let series of seriesList" class="mb-4">
        <span style="font-size: larger;">{{series.seriesTitle}}<br></span>
        <span class="ml-3" style="font-size: smaller;">Modified: {{series.modified}}</span><br>
        <button (click)="openAppendArticleModal(AppendTemplate, series.seriesId)" class="btn-sm btn-outline-dark">Append New Article to Series</button>
    </div>
</div>


<ng-template #AppendTemplate>
    <div class="modal-body">
        <form [formGroup]="newArticleTitle">
            <input type="text" formControlName="newArticleTitle" class="form-control form-control-sm">
            <div class="col text-center">
                <button class="btn-sm btn-outline-dark mt-2" (click)="appendNewArticle()">Create new article</button>
            </div>
        </form>
    </div>
  </ng-template>