<div class="container">
  
    <form [formGroup]="titleForm">
      <input type="text"formControlName="title" style="font-size: larger; font-weight: bold;">
    </form>

    <p>
      Article ID# {{article.articleId}} 
      -- Series ID# {{article.seriesId}} 
      -- Series Position# {{article.seriesPosition}} 
      -- Category ID# {{article.categoryId}}
    </p>

    <button class="btn btn-dark" (click)="saveArticle()">Save</button>

    <form [formGroup]="editorForm">
      <div class="form-group mt-3">
        <editor 
            formControlName='content' 
            apiKey="k1pqab9inei7an7n3atynsphluumlmwkih79kuzncj48xh3y" 
            [init]="{      
                height: h - 250,
                menubar: false,
                plugins: 'advlist autolink code hr image imagetools lists wordcount',
                toolbar: 'undo redo | formatselect | bold italic underline backcolor | \
                    alignleft aligncenter alignright alignjustify | \
                    bullist numlist outdent indent | removeformat hr| code | wordcount'
            }"
        >
        </editor>
      </div>
    </form>
    <button class="btn btn-dark" (click)="saveArticle()">Save</button>
  </div>