<h1>TinyMCE 5 Angular Demo</h1>
<editor 
    apiKey="k1pqab9inei7an7n3atynsphluumlmwkih79kuzncj48xh3y" 
    [init]="{
        height: 500,
        menubar: false,
        plugins: [
        'advlist autolink code hr image imagetools lists save wordcount'
        ],
        toolbar:
        'save | undo redo | formatselect | bold italic underline backcolor | \
        alignleft aligncenter alignright alignjustify | \
        bullist numlist outdent indent | removeformat hr| code | wordcount'
    }">
</editor>